In [1]:
import os
import sys
import time
sys.path.extend(['..'])

import torch
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [2]:
plt.rc('text', usetex=True)
plt.rc('text.latex', preamble=r'\usepackage{amsmath} \usepackage{amssymb}')

In [3]:
res_path = '../../results/pretrained'

ece_file_reg = 'logitsJuan_ECE_reg.csv'
nll_file_reg = 'logitsJuan_NLL_reg.csv'
bri_file_reg = 'logitsJuan_BRI_reg.csv'

In [4]:
ECE = pd.read_csv(os.path.join(res_path, ece_file_reg)).drop(['Unnamed: 0'], axis=1)
NLL = pd.read_csv(os.path.join(res_path, nll_file_reg)).drop(['Unnamed: 0'], axis=1)
Bri = pd.read_csv(os.path.join(res_path, bri_file_reg)).drop(['Unnamed: 0'], axis=1)

In [5]:
datasets = ECE['Dataset'].unique()
print(datasets)

['cifar10' 'cifar100' 'cars' 'birds' 'svhn']

In [6]:
def highlight_min(s):
    '''
    highlight the minimum.
    '''
    is_max = s == s.min()
    return ['font-weight: bold' if v else '' for v in is_max]

In [7]:
def highlight_min_br(s):
    print(s['ECE'])
    
    
    s['ECE'].style.apply(highlight_min, subset=s.select_dtypes(float))
    s['NLL'].style.apply(highlight_min, subset=s.select_dtypes(float))
    s['Brier'].style.apply(highlight_min, subset=s.select_dtypes(float))
      
    return s

### CIFAR 10

In [8]:
curr_ece = ECE.loc[ECE.Dataset=='cifar10'].set_index('Model')
curr_nll = NLL.loc[ECE.Dataset=='cifar10'].set_index('Model')
curr_bri = Bri.loc[ECE.Dataset=='cifar10'].set_index('Model')

In [9]:
curr_ece.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [10]:
curr_nll.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [11]:
curr_bri.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [12]:
pd.concat([curr_ece, curr_nll, curr_bri], axis=1, keys=['ECE', 'NLL', 'Brier'], names=['Metric', 'Model'])

Metric                 ECE                                               \
Model              Dataset Uncalibrated        TS HisTSScaleT  LinearTS
Model
densenet-121       cifar10     0.026426  0.010141    0.009258  0.010350
densenet-169       cifar10     0.026636  0.008296    0.005562  0.008142
resnet-101         cifar10     0.042682  0.011989    0.010498  0.011743
resnext-29_8x16    cifar10     0.028328  0.007384    0.007848  0.007476
vgg-19             cifar10     0.045619  0.017185    0.013450  0.013811
wide-resnet-28x10  cifar10     0.018345  0.005170    0.008193  0.005584
wide-resnet-40x10  cifar10     0.030010  0.009187    0.007414  0.009008

Metric                                               NLL                 ...  \
Model                   HTS      lHTS     DNNTs  Dataset   Uncalibrated  ...
Model                                                                    ...
densenet-121       0.010319  0.009350  0.013607  cifar10  102679.421875  ...
densenet-169       0.008227  0.007039  0.020035  cifar10   98814.648438  ...
resnet-101         0.011757  0.010981  0.013091  cifar10  125237.921875  ...
resnext-29_8x16    0.007329  0.007696  0.007639  cifar10  193341.218750  ...
vgg-19             0.013810  0.011455  0.014120  cifar10   98948.328125  ...
wide-resnet-28x10  0.005004  0.006479  0.005603  cifar10  104472.195312  ...
wide-resnet-40x10  0.009035  0.009379  0.008250  cifar10  121359.140625  ...

Metric                                         Brier                         \
Model                     lHTS        DNNTs  Dataset Uncalibrated        TS
Model
densenet-121       1608.634888  1622.726074  cifar10     0.076359  0.072888
densenet-169       1583.297607  1758.505371  cifar10     0.075375  0.071723
resnet-101         2177.228516  2174.710938  cifar10     0.110169  0.101096
resnext-29_8x16    1619.780273  1621.605469  cifar10     0.082816  0.078307
vgg-19             2316.813477  2330.934570  cifar10     0.110094  0.101859
wide-resnet-28x10  1367.295532  1364.562256  cifar10     0.062887  0.060798
wide-resnet-40x10  1633.770142  1633.380859  cifar10     0.081958  0.076777

Metric
Model             HisTSScaleT  LinearTS       HTS      lHTS     DNNTs
Model
densenet-121         0.072910  0.072629  0.072626  0.072245  0.073135
densenet-169         0.070879  0.071364  0.071346  0.070848  0.075112
resnet-101           0.100914  0.100363  0.100362  0.101000  0.101089
resnext-29_8x16      0.078567  0.078138  0.078263  0.078294  0.078308
vgg-19               0.100054  0.101048  0.101059  0.099749  0.100509
wide-resnet-28x10    0.061267  0.060559  0.060591  0.060687  0.060704
wide-resnet-40x10    0.077058  0.076700  0.076694  0.076775  0.076626

[7 rows x 24 columns]

### CIFAR 100

In [13]:
curr_ece = ECE.loc[ECE.Dataset=='cifar100'].set_index('Model')
curr_nll = NLL.loc[ECE.Dataset=='cifar100'].set_index('Model')
curr_bri = Bri.loc[ECE.Dataset=='cifar100'].set_index('Model')

pd.concat([curr_ece, curr_nll, curr_bri], axis=1, keys=['ECE', 'NLL', 'Brier'], names=['Metric', 'Model'])

Metric                  ECE                                               \
Model               Dataset Uncalibrated        TS HisTSScaleT  LinearTS
Model
densenet-121       cifar100     0.087240  0.035231    0.025151  0.035537
densenet-169       cifar100     0.088833  0.037744    0.026668  0.038300
resnet-101         cifar100     0.114132  0.015058    0.012900  0.018581
resnext-29_8x16    cifar100     0.096784  0.028191    0.014048  0.028121
vgg-19             cifar100     0.176313  0.048083    0.022353  0.047901
wide-resnet-28x10  cifar100     0.048530  0.042848    0.031512  0.043025
wide-resnet-40x10  cifar100     0.147669  0.037652    0.033864  0.040265

Metric                                                NLL                 ...  \
Model                   HTS      lHTS     DNNTs   Dataset   Uncalibrated  ...
Model                                                                     ...
densenet-121       0.035532  0.022895  0.032335  cifar100  146031.656250  ...
densenet-169       0.038200  0.025411  0.030519  cifar100  147125.968750  ...
resnet-101         0.017513  0.012551  0.013686  cifar100  233772.125000  ...
resnext-29_8x16    0.031377  0.015430  0.015942  cifar100  350426.187500  ...
vgg-19             0.025730  0.025752  0.029235  cifar100  114512.867188  ...
wide-resnet-28x10  0.041401  0.028927  0.034638  cifar100  177968.265625  ...
wide-resnet-40x10  0.039938  0.030146  0.040642  cifar100  213319.234375  ...

Metric                                            Brier               \
Model                      lHTS         DNNTs   Dataset Uncalibrated
Model
densenet-121        8240.635742   8253.421875  cifar100     0.317058
densenet-169        8041.632812   8062.326172  cifar100     0.314196
resnet-101          9999.263672  10002.015625  cifar100     0.405327
resnext-29_8x16     8157.163574   8128.462891  cifar100     0.327484
vgg-19             11933.441406  11940.708984  cifar100     0.443283
wide-resnet-28x10   7841.287109   7871.058105  cifar100     0.289225
wide-resnet-40x10   8986.412109   9001.576172  cifar100     0.370023

Metric                                                                 \
Model                    TS HisTSScaleT  LinearTS       HTS      lHTS
Model
densenet-121       0.304773    0.304710  0.304424  0.303362  0.303810
densenet-169       0.301670    0.300874  0.301123  0.299158  0.300226
resnet-101         0.381723    0.382022  0.381223  0.380850  0.381558
resnext-29_8x16    0.309558    0.309435  0.309547  0.308993  0.308804
vgg-19             0.391811    0.388761  0.391762  0.388430  0.389071
wide-resnet-28x10  0.288609    0.287529  0.288112  0.285165  0.285536
wide-resnet-40x10  0.327633    0.328894  0.324372  0.323898  0.327001

Metric
Model                 DNNTs
Model
densenet-121       0.305221
densenet-169       0.301612
resnet-101         0.381716
resnext-29_8x16    0.309001
vgg-19             0.389573
wide-resnet-28x10  0.287331
wide-resnet-40x10  0.329475

[7 rows x 24 columns]

In [14]:
curr_ece.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [15]:
curr_nll.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [16]:
curr_bri.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

### Cars

In [17]:
curr_ece = ECE.loc[ECE.Dataset=='cars'].set_index('Model')
curr_nll = NLL.loc[ECE.Dataset=='cars'].set_index('Model')
curr_bri = Bri.loc[ECE.Dataset=='cars'].set_index('Model')

pd.concat([curr_ece, curr_nll, curr_bri], axis=1, keys=['ECE', 'NLL', 'Brier'], names=['Metric', 'Model'])

Metric           ECE                                                         \
Model        Dataset Uncalibrated        TS HisTSScaleT  LinearTS       HTS
Model
densenet-121    cars     0.058391  0.016994    0.008367  0.017681  0.016500
densenet-169    cars     0.057807  0.019570    0.012592  0.019138  0.018179
resnet-101      cars     0.053632  0.018188    0.007250  0.018376  0.020293

Metric                               NLL                ...               \
Model             lHTS     DNNTs Dataset  Uncalibrated  ...         lHTS
Model                                                   ...
densenet-121  0.018090  0.009650    cars  160279.09375  ...  2533.218750
densenet-169  0.019011  0.014765    cars  173801.00000  ...  2530.395508
resnet-101    0.016638  0.006885    cars  203971.25000  ...  2337.012939

Metric                      Brier                                     \
Model               DNNTs Dataset Uncalibrated        TS HisTSScaleT
Model
densenet-121  2507.057129    cars     0.173450  0.164603    0.164209
densenet-169  2520.360840    cars     0.172543  0.163421    0.163297
resnet-101    2304.158691    cars     0.161740  0.153650    0.153057

Metric
Model         LinearTS       HTS      lHTS     DNNTs
Model
densenet-121  0.164154  0.164584  0.164511  0.164155
densenet-169  0.163318  0.164004  0.163423  0.163524
resnet-101    0.153624  0.153817  0.153522  0.152941

[3 rows x 24 columns]

In [18]:
curr_ece.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [19]:
curr_nll.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [20]:
curr_bri.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

### Birds

In [21]:
curr_ece = ECE.loc[ECE.Dataset=='birds'].set_index('Model')
curr_nll = NLL.loc[ECE.Dataset=='birds'].set_index('Model')
curr_bri = Bri.loc[ECE.Dataset=='birds'].set_index('Model')

pd.concat([curr_ece, curr_nll, curr_bri], axis=1, keys=['ECE', 'NLL', 'Brier'], names=['Metric', 'Model'])

Metric           ECE                                                         \
Model        Dataset Uncalibrated        TS HisTSScaleT  LinearTS       HTS
Model
densenet-121   birds     0.123822  0.018866    0.018320  0.019049  0.018946
densenet-169   birds     0.126265  0.018445    0.027978  0.019404  0.029925
resnet-101     birds     0.125345  0.022500    0.020822  0.022745  0.023730

Metric                               NLL                 ...               \
Model             lHTS     DNNTs Dataset   Uncalibrated  ...         lHTS
Model                                                    ...
densenet-121  0.020513  0.018104   birds  156705.562500  ...  4135.769531
densenet-169  0.018619  0.074426   birds  135459.265625  ...  3990.924072
resnet-101    0.018873  0.018647   birds  190576.562500  ...  3845.111328

Metric                      Brier                                     \
Model               DNNTs Dataset Uncalibrated        TS HisTSScaleT
Model
densenet-121  4122.933594   birds     0.352798  0.323056    0.324691
densenet-169  4288.352051   birds     0.347038  0.314235    0.315482
resnet-101    3827.600586   birds     0.337751  0.305229    0.306704

Metric
Model         LinearTS       HTS      lHTS     DNNTs
Model
densenet-121  0.322998  0.322160  0.323083  0.323018
densenet-169  0.314198  0.314596  0.314357  0.326787
resnet-101    0.305184  0.305530  0.305139  0.305402

[3 rows x 24 columns]

In [22]:
curr_ece.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [23]:
curr_nll.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [24]:
curr_bri.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

### SVHN

In [25]:
curr_ece = ECE.loc[ECE.Dataset=='svhn'].set_index('Model')
curr_nll = NLL.loc[ECE.Dataset=='svhn'].set_index('Model')
curr_bri = Bri.loc[ECE.Dataset=='svhn'].set_index('Model')

pd.concat([curr_ece, curr_nll, curr_bri], axis=1, keys=['ECE', 'NLL', 'Brier'], names=['Metric', 'Model'])

Metric                ECE                                               \
Model             Dataset Uncalibrated        TS HisTSScaleT  LinearTS
Model
densenet-121         svhn     0.020210  0.011077    0.006681  0.012084
densenet-169         svhn     0.003629  0.010170    0.009153  0.009546
wide-resnet-28x10    svhn     0.014821  0.009277    0.009041  0.008715
wide-resnet-40x10    svhn     0.012593  0.011739    0.009718  0.011603

Metric                                              NLL                ...  \
Model                   HTS      lHTS     DNNTs Dataset  Uncalibrated  ...
Model                                                                  ...
densenet-121       0.011864  0.007013  0.007898    svhn  274794.21875  ...
densenet-169       0.009494  0.009926  0.008851    svhn  293806.21875  ...
wide-resnet-28x10  0.008790  0.009434  0.010353    svhn  300114.06250  ...
wide-resnet-40x10  0.011400  0.008348  0.009572    svhn  279279.75000  ...

Metric                                        Brier                         \
Model                     lHTS        DNNTs Dataset Uncalibrated        TS
Model
densenet-121       3631.384033  3639.321045    svhn     0.054979  0.052406
densenet-169       3360.260498  3342.787598    svhn     0.051542  0.052033
wide-resnet-28x10  3494.279785  3589.672852    svhn     0.054144  0.052815
wide-resnet-40x10  3304.464355  3300.761475    svhn     0.049306  0.048192

Metric
Model             HisTSScaleT  LinearTS       HTS      lHTS     DNNTs
Model
densenet-121         0.052036  0.052438  0.052460  0.052009  0.052093
densenet-169         0.051861  0.052086  0.052083  0.051938  0.051783
wide-resnet-28x10    0.053124  0.052699  0.052616  0.052792  0.054514
wide-resnet-40x10    0.048281  0.048133  0.048141  0.048058  0.048093

[4 rows x 24 columns]

In [26]:
curr_ece.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [27]:
curr_nll.drop('Dataset', axis=1).transpose().style.apply(highlight_min)

In [28]:
curr_bri.drop('Dataset', axis=1).transpose().style.apply(highlight_min)